:root{
    --checkbox:20px;
    --checkbox-color:rgb(24, 144, 255);
    --checkbox-shadow:rgba(24, 144, 255 , 0.2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    display: none;
}
.checkbox{
    display: inline-flex;
    align-items: center;
    gap: 3px;
}
.checkbox-block{
    display: flex;
    align-items: center;
    gap: 3px;
}
.checkbox-frame{
    display: inline-flex;
    align-items: center;
    gap: calc(var(--checkbox) * 0.5);
    position: relative;
}
.checkbox-frame::before{
    content: "";
    width: calc(var(--checkbox) * 1);
    height: calc(var(--checkbox) * 1);
    border: solid 1px #c2c1c1;
    border-radius: calc(var(--checkbox) * 0.2);
    background-color: transparent;
    order: -1;
    transition: all 0.3s linear;
}
input:hover ~ .checkbox-frame::before{
    border-color: var(--checkbox-color) ;
}
input:checked ~ .checkbox-frame::before{
    border-color: var(--checkbox-color) ;
    background-color: var(--checkbox-color);
    box-shadow:  0 0 0 calc(3em / 16) var(--checkbox-shadow);
}
.checkbox-frame::after{
    content: "";
    width: calc(var(--checkbox) * 0.6);
    height: calc(var(--checkbox) * 0.4);
    border-left:solid calc(var(--checkbox) * 0.12) white;
    border-bottom: solid calc(var(--checkbox) * 0.12) white;
    background-color: transparent;
    order: -1;
    position: absolute;
    left: calc(var(--checkbox) * 0.2);
    top: calc(var(--checkbox) * 0.4);
    transform:   translatey(60%) rotateZ(-45deg) scale(0);
    transition: all 0.3s linear;
}
input:checked ~ .checkbox-frame::after{
    transform:  translatey(-40%) rotateZ(-45deg) scale(1);
}
input:disabled ~ .checkbox-frame::before{
    border-color: #d9d9d9;
    color:#d9d9d9 ;
    background-color: #ececec;
}
input:disabled:hover ~ .checkbox-frame::before {
    border-color:#d9d9d960; 
}
input:disabled ~ .checkbox-frame{
    color:#d9d9d9 ;
}
input:disabled ~ span{
    color:#d9d9d9 ;
}
input:default:disabled ~ .checkbox-frame{
    color:#d9d9d9 ;
}
input:default:disabled ~ span{
    color:#d9d9d9 ;
}
input:default:disabled ~ .checkbox-frame::before {
    border-color:#d9d9d9;
    box-shadow:none; 
}
input:default:disabled ~ .checkbox-frame::after{
    border-color:#d9d9d9 ;
    background-color:transparent ;
    transform:  translatey(-40%) rotateZ(-45deg) scale(1);
}


.checkbox-content{
    display: inline-block;
    padding:3px 20px;
    line-height: 1.5em;
    border: 1px solid #a3a3a3;
    text-align: center;
    transition: all 0.3s linear;
}
input:checked ~ .checkbox-content{
    border-color:var(--checkbox-color) ;
    color: var(--checkbox-color);
    box-shadow: 0 0 0 calc(3em / 16) var(--checkbox-shadow);
}
input:checked ~ .checkbox-content.checkbox-fill{
    background-color:var(--checkbox-color);
    color: white;
}
.checkbox-large.checkbox-content{
    padding:6px 30px;
}
.checkbox-small.checkbox-content{
    padding:1px 10px;
}
.checkbox-content:hover{
    color: var(--checkbox-color);
}
input:disabled ~ .checkbox-content{
    border-color: #d9d9d9;
    background-color: #e0e0e077;
    color:#d9d9d9 ;
}
input:disabled ~ .checkbox-content:hover{
    color:#d9d9d9 ;
}
input:default:disabled ~ .checkbox-content{
    color:#d9d9d9 ;
    background-color: #afafaf;
    border-color: #d9d9d9;
    box-shadow: none;
}
